# Dependencies
node_modules/
**/node_modules/
vendor/
**/vendor/

# Build and Production Outputs
dist/
**/dist/
public/build/
public/hot/
public/storage/
storage/app/public/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

# Environment files
.env
.env.backup
.env.local
.env.*.local
.env.production

# Logs & debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Package Manager State
.pnpm-workspace-state-v1.json

# IDEs & System files
.DS_Store
Thumbs.db
.vscode/
.idea/
.fleet/
.nova/
.zed/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
